<div class="clearfix">
  <h1>{{name}}</h1>
  <ul class="list-inline left-sm">
    <li>
      <a href="/users/{{objectId}}/edit" id="edit-profile-link" class="btn btn-default">
        <span class="glyphicon glyphicon-edit"></span> {{__ "common.actions.edit" }}
      </a>
    </li>
  </ul>
</div>