<div id="search-menu" class="navbar-collapse collapse navbar-left">
  <form class="navbar-form">
    <button type="button" class="btn btn-link hidden-xs">
      <span class="glyphicon glyphicon-search"></span>
    </button>
    <label class="sr-only">{{__ "common.actions.search" }}</label>
    <input class="form-control" type="text" name="q" placeholder="{{__ "common.actions.search" }}" autocomplete="off" spellcheck="off">
  </form>
</div>