<!-- form-xlarge -->
<fieldset>
  <div class="form-group title-group">
    <label for="issue-title" class="control-label control-label-lg col-sm-2">{{__ "issue.fields.title" }}</label>
    <div class="col-sm-10 col-md-8">
      <input type="text" class="form-control input-lg" name="issue[title]" id="issue-title" maxlength="128" value="{{ issue.title }}" placeholder="{{__ "issue.fields.title" }}" required="required" />
      <p class="help-block">{{__ "issue.form.title_help" }}</p>
    </div>
  </div>
</fieldset>